<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/selection.css">
    <script src="/js/jquery-1.12.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
        $(function () {
            $("#form-sub").click(function () {
                var courses = new Array();
                /*num 	name 	teacher 	score 	transcript*/
                var check = $("input[name='checkItem']:checked");
                check.each(function () {
                    var course = {};
                    var row = $(this).parent("td").parent("tr");
                    var num = row.children("td[name='num']").text();
                    var course_name = row.find("td[name='course_name']").text();
                    var score = row.find("[name='score']").text();
                    var transcript = row.find("[name='transcript']").text();
                    course['num']=num;
                    course['name']=course_name;
                    course['score']=score;
                    course['transcript']=transcript;
                    courses.push(course);
                });
                $.ajax(
                    {
                        url: "/choose",
                        type: "delete",
                        contentType: 'application/json',
                        data: JSON.stringify(courses),
                        success: function (data) {
                            alert(data.msg)
                            location.reload();
                        },
                        datatype: "json"
                    }
                );
            })

        });

        function selectAll(obj) {
            $("td input").prop("checked", obj.checked);
        }
    </script>
</head>
<body>
<table class="selection-table table table-bordered">
    <tr class="active">
        <!--复选框-->
        <th>
            <label>
                <input id="firstCk" type="checkbox" onclick="selectAll(this)">
            </label>
        </th>
        <th>num</th>
        <th>name</th>
        <th>teacher</th>
        <th>score</th>
        <th>transcript</th>
    </tr>
    <tr th:if="${chooses!=null}" th:each="choose:${chooses}">
        <!--复选框-->
        <td>
            <input type="checkbox" name="checkItem" autocomplete="off">
        </td>
        <td name="num" th:text="${choose.num}"></td>
        <td name="course_name" th:text="${choose.name}"></td>
        <td name="teacher_name">
            <button th:text="${choose.teacherName}" type="button" class="btn btn-default" data-container="body"
                    data-toggle="popover" data-placement="right" data-content="返回上一级查看哦">
                Popover on 右侧
            </button>
        </td>
        <td name="score" th:text="${choose.score}"></td>
        <td name="transcript" th:text="${choose.transcript}"></td>
    </tr>
    <tr>
        <td colspan="6">
            <form action="/selection">
                <button class="returnBtn btn-success pull-left" type="submit"><span
                        class="glyphicon glyphicon-hand-left"></span>返回选课列表
                </button>
            </form>
            <input id="form-sub" class="pull-right" type="submit" value="DELETE">
        </td>
    </tr>
</table>
</body>
</html>